__MACOSX/
*.log
.git/
node_modules/
venv/
__pycache__/
*.pyc
.DS_Store
learningplatform_nowy 2/frontend/
learningplatform_nowy 2/node_modules/
functions/
dataconnect/
firestore.rules
firestore.indexes.json 